<meta charset="UTF-8">
<title>NodeJs Starter App</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body 	
    { padding-top:20px; }
    .navbar-brand {
        margin-top: -10px;
    }
</style>

<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
    
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img width="80px" height="40px" src="nodejslogo.png"/></a>
            </div>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/user">Users</a></li>
            </ul>
          
        </div>
    </nav>