<!DOCTYPE html>
<html lang="en">
<body class="container">

	<header>
            <% include ./header %>
	</header>

	<main>
		<div class="jumbotron">
            <h2>Home Page!</h2>
                <p> NodeJs says : <%= msg %> </p>
                            
		</div>
	</main>

</body>
</html>